.home{
    background-color: #F2E9E4;
    width:100vw;
    height:100vh;
  }

.navBar{
    background-color: #22223B;
    color: #C9ADA7 !important;  
    display:flex;
    flex-direction: row;
    width:100vw;
    justify-content: space-around;
}

.navBar a{
    color: #C9ADA7 !important;  
    cursor:pointer;
    text-decoration: none;
    transition: 0.5s;
}

.navBar h1:hover{
    cursor:pointer;
    color:#9A8C98;
    transition: 0.5s;
}

.homeContent{
    color:#22223B;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:250px 150px;
}

.biography{
    margin-left:100px;
    width: 40vw;
    font-size: 30px;
}



